


<nav class="navbar navbar-expand-lg navbar-light bg-light shadow py-3 bg-white rounded">
  <div class="container-fluid ">
    <a class="navbar-brand" href="#">sample Logo</a>
    <!-- <select class=" form-select shadow-sm bg-white rounded form-select-sm" aria-label=".form-select-sm example">
      <option class="bg-danger" selected>app number 1</option>
      <option value="2">app number 2</option>
      <option value="3">app number 3</option>
    </select> -->

    <div class="dropdown shadow  rounded">
      <button class="btn " type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
        app number 1 <i  dropdown-toggle class="  fas fa-angle-down"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" type="button">app nubmer 2</button></li>
        <li><button class="dropdown-item" type="button">app number 3</button></li>
        <li><button class="dropdown-item" type="button">app number 4</button></li>
      </ul>
    </div>
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <div class="d-lg-flex ms-auto ">


        <div class=" inner pb-2 d-flex justify-content-center bg-white rounded-3  px-3 align-items-center mx-3">
          <i class="fas fa-2x mx-2  me-4 text-success fa-map-marker-alt"></i>

          <div>
            <p class="my-0 fw-bold"> location name </p>
            <span> address line 1 , adress line <a class="change text-green"> change </a></span>
          </div>

        </div>


        <button role="button"  class=" notification4 inner btn d-block m-auto  btn-success rounded-3 px-4 d-lg-flex align-items-center"> <i class="fab me-3 fa-opencart"></i>


          cart
          <span  class="badge3 shadow p-1  text-black">99+</span>
         </button>



        <div class="inner profileInfo bg-mainColor d-flex align-items-center px-lg-3 ms-lg-3 mt-1  rounded-3  ">
          <div class=" me-lg-5 d-flex   align-items-center">
            <img class="imgProfile border rounded-circle" alt="Devesh Pawar"
              src="../../assets/18870232-0-image-a-1_1569331504696.jpeg">
            <span class="ms-2"> Devesh Pawar </span>
            <i class="fas ms-2 fa-chevron-down"></i>
          </div>

          <div class="d-flex "  >
            <div role="button" class="notification">
              <i class=" far fa-2x mx-4 fa-file-alt"></i>
              <span class="badge2">35</span>
            </div>
            <div role="button" (click)="show()" class="notification2 cursor-pointer">
              <i   class="far fa-2x fa-bell"></i>
              <span  class="badge1  ">12</span>

            </div>



          </div>

        </div>
      </div>
    </div>
  </div>
</nav>

<div *ngIf="hidden" class=" test ">
  <app-notifications></app-notifications>
</div>
